<mat-card class="settings__card">
  <section class="settings__section">
    <h1 class="title">{{ 'settings.settings' | translate }}</h1>
    <form
      [formGroup]="formGroup"
      (ngSubmit)="onFormSubmit($event)"
      class="settings">
      <div class="settings__item">
        <h3 class="settings__name">
          <mat-icon>brightness_4</mat-icon>
          {{ 'settings.dark_mode' | translate }}
        </h3>
        <div class="settings__props">
          <mat-slide-toggle formControlName="isCheckedTheme"></mat-slide-toggle>
        </div>
      </div>
      <div class="settings__item">
        <h3 class="settings__name">
          {{ 'settings.language' | translate }}
        </h3>
        <div class="settings__props">
          <mat-form-field appearance="outline">
            <mat-select matNativeControl formControlName="language">
              <mat-option value="ua">Ukraine</mat-option>
              <mat-option value="en">English</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="settings__item">
        <h3 class="settings__name">Profile</h3>
        <div class="settings__props">
          <mat-form-field appearance="outline">
            <mat-select
              [formControl]="selectedProfileControl"
              name="selectedProfile">
              <option label="-- Select profile --"></option>
              @for (item of profiles; track item) {
                <mat-option [value]="item.value">{{
                  item.viewValue
                }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <button
            (click)="openDialog()"
            class="add-profile"
            mat-mini-fab
            color="warn">
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </section>
</mat-card>
