<header>
  <mat-toolbar color="primary">
    <button
      (click)="drawer.toggle()"
      aria-label="menu"
      class="example-icon"
      mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Dev Note Proximity</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      aria-label="icon-button"
      [routerLink]="['/settings']">
      <mat-icon>settings</mat-icon>
    </button>
    <button aria-label="icon-button" mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
</header>
<main [className]="theme$ | async">
  <mat-drawer-container class="container">
    <mat-drawer #drawer mode="side" opened>
      <mat-nav-list role="list">
        <a
          mat-list-item
          [routerLink]="['/home']"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >{{ 'layout.home' | translate }}</a
        >
        <a
          [routerLink]="['/test-accounts']"
          ariaCurrentWhenActive="page"
          mat-list-item
          routerLinkActive="active">
          {{ 'layout.test_accounts' | translate }}</a
        >

        <mat-expansion-panel
          (closed)="panelOpenState = false"
          (opened)="panelOpenState = true"
          [class.mat-elevation-z0]="true"
          dense>
          <mat-expansion-panel-header class="notes-menu">
            <mat-panel-title>
              <a mat-list-item>{{ 'layout.notes' | translate }}</a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a
            [routerLink]="['/notes-short']"
            ariaCurrentWhenActive="page"
            mat-list-item
            routerLinkActive="active">
            {{ 'layout.short_notes' | translate }}</a
          >
          <a
            [routerLink]="['/notes-full']"
            ariaCurrentWhenActive="page"
            mat-list-item
            routerLinkActive="active">
            {{ 'layout.full_notes' | translate }}</a
          >
        </mat-expansion-panel>
        <a
          [routerLink]="['/calendar']"
          ariaCurrentWhenActive="page"
          mat-list-item
          routerLinkActive="active">
          {{ 'layout.calendar' | translate }}</a
        >
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="content">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</main>
