<header>
  <mat-toolbar color="primary">
    <button (click)="drawer.toggle()" aria-label="menu" class="example-icon" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Account</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="icon-button" [routerLink]="['/settings']">
      <mat-icon>settings</mat-icon>
    </button>
    <button aria-label="icon-button" mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
</header>
<main>
  <mat-drawer-container class="container">
    <mat-drawer #drawer mode="side" opened>
      <mat-nav-list role="list">
        <a
          mat-list-item
          [routerLink]="['/home']"
          routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        <a
          [routerLink]="['/test-accounts']"
          ariaCurrentWhenActive="page"
          mat-list-item routerLinkActive="active">
          Test Accounts</a>

        <mat-expansion-panel (closed)="panelOpenState = false" (opened)="panelOpenState = true"
                             [class.mat-elevation-z0]="true"
                             dense>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a mat-list-item>Notes</a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a
            [routerLink]="['/notes-short']"
            ariaCurrentWhenActive="page"
            mat-list-item routerLinkActive="active">
            Short notes</a>
          <a
            [routerLink]="['/notes-full']"
            ariaCurrentWhenActive="page"
            mat-list-item routerLinkActive="active">
            Full notes</a>
        </mat-expansion-panel>
        <a
          [routerLink]="['/calendar']"
          ariaCurrentWhenActive="page"
          mat-list-item routerLinkActive="active">
          Calendar</a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="content">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</main>
