<header class="header">
  <mat-toolbar color="primary">
    <button
      (click)="drawer.toggle()"
      aria-label="menu"
      class="example-icon"
      mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Dev Note Proximity</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      aria-label="icon-button"
      [routerLink]="['/settings']">
      <mat-icon>settings</mat-icon>
    </button>
    <button
      (click)="toggleModalAboutUser()"
      aria-label="icon-button"
      mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
</header>
@if (isOpenedInformationUser && userInformation) {
  <div class="modal-container">
    <div class="relative-con">
      <button
        class="close-btn"
        (click)="toggleModalAboutUser()"
        aria-label="icon-button"
        mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
      <div class="email">{{ userInformation.email }}</div>
      <img class="user-img" src="{{ userInformation.photoURL }}" alt="" />
      <div class="hello-user">
        {{ 'layout.modal.hello' | translate }}, {{ userInformation.name }}
      </div>
      <button class="manage-btn">
        {{ 'layout.modal.manage' | translate }}
      </button>
      <button (click)="logout()" class="logout-btn">
        <mat-icon>logout</mat-icon>
        <span class="logout-text">{{ 'layout.modal.logout' | translate }}</span>
      </button>
      <div class="links">
        <div>
          <a
            class="links__item"
            href="https://policies.google.com/terms?hl"
            target="_blank"
            >{{ 'layout.modal.privacy' | translate }}</a
          >
        </div>
        <div>
          <a
            class="links__item"
            href="https://policies.google.com/terms?hl"
            target="_blank"
            >{{ 'layout.modal.condition' | translate }}</a
          >
        </div>
      </div>
    </div>
  </div>
}

<main [className]="theme$ | async">
  <mat-drawer-container class="container">
    <mat-drawer #drawer mode="side" opened>
      <mat-nav-list role="list">
        <a
          mat-list-item
          [routerLink]="['/home']"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >{{ 'layout.home' | translate }}</a
        >
        <a
          [routerLink]="['/test-accounts']"
          ariaCurrentWhenActive="page"
          mat-list-item
          routerLinkActive="active">
          {{ 'layout.test_accounts' | translate }}</a
        >

        <mat-expansion-panel
          (closed)="panelOpenState = false"
          (opened)="panelOpenState = true"
          [class.mat-elevation-z0]="true"
          dense>
          <mat-expansion-panel-header class="notes-menu">
            <mat-panel-title>
              <a mat-list-item>{{ 'layout.notes' | translate }}</a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a
            [routerLink]="['/notes-short']"
            ariaCurrentWhenActive="page"
            mat-list-item
            routerLinkActive="active">
            {{ 'layout.short_notes' | translate }}</a
          >
          <a
            [routerLink]="['/notes-full']"
            ariaCurrentWhenActive="page"
            mat-list-item
            routerLinkActive="active">
            {{ 'layout.full_notes' | translate }}</a
          >
        </mat-expansion-panel>
        <a
          [routerLink]="['/calendar']"
          ariaCurrentWhenActive="page"
          mat-list-item
          routerLinkActive="active">
          {{ 'layout.calendar' | translate }}</a
        >
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="content">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</main>
@if (loading$ | async) {
  <app-spinner></app-spinner>
}
