<div class="header">
  <h1 class="title">{{ 'test_accounts.title' | translate }}</h1>
  <div class="controls">
    <button (click)="openDialog()" mat-fab color="warn" aria-label="add button">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
<mat-card>
  <mat-card-content>
    <div class="search">
      <mat-form-field appearance="outline" class="search-form-field">
        <mat-label>{{ 'test_accounts.placeholder' | translate }}</mat-label>
        <input matInput type="text" [formControl]="searchControl" />
        @if (searchControl.value) {
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="searchControl.reset('')">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
    </div>
    <div class="content">
      <table-users-account></table-users-account>
    </div>
  </mat-card-content>
</mat-card>
