.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.content {
  margin-bottom: 50px;
  overflow-y: auto;
}

.search-form-field {
  width: 450px;
}

.title {
  font-weight: bold;
  font-size: 26px;
}
