.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.content {
  margin-bottom: 50px;
  overflow-y: auto;
}

.search {
  margin-top: 20px;

  &-form-field {
    width: 450px;
  }
}

.title {
  font-weight: bold;
  font-size: 26px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 40%;
}
