.notes {
  padding: 20px 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  border: none;
  background-color: transparent;
}

.content {
  width: 70%;
  text-align: justify;
}

.buttons button {
  margin-right: 10px;
  text-align: center;
}

.buttons button mat-icon {
  margin-left: 8px;
}

mat-form-field {
  width: 400px;
}

@media (max-width: 768px) {
  .notes {
    padding: 10px 20px;
  }

  .title {
    width: auto;
    font-size: 20px;
    margin-right: 50px;
  }

  .buttons button {
    margin-bottom: 5px;
  }

  .content {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .notes {
    padding: 10px 20px;
  }

  .title {
    width: 100%;
    font-size: 20px;
  }

  .buttons button {
    margin-left: 20px;
    margin-bottom: 5px;
  }

  .content {
    width: 100%;
  }
}
