<div class="container">
  @for (item of items; track item) {
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{ item.title | translate }}</mat-card-title>
      </mat-card-header>
      <img
        class="item__img"
        mat-card-image
        [src]="item.img"
        alt="Test accounts preview" />
      <mat-card-content matTooltip="{{ item.description | translate }}">
        <p class="item__text">{{ item.description | translate }}</p>
      </mat-card-content>
      <mat-card-actions class="item__btn">
        <button mat-button (click)="goToItems(item.route)">
          {{ 'home.test_accounts.button' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  }
</div>
