.container {
  display: flex;
}

.card {
  padding: 15px 15px;
  max-width: 400px;
  min-width: 250px;
  margin-left: 50px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.card__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.item__text {
  height: 136px;
  text-align: justify;
  overflow: hidden;
}

.card__btn {
  margin-top: 20px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.grid-item {
  width: calc(33.333% - 10px);
  border: 1px solid #ccc;
  padding: 10px;
}

.list-container {
  display: flex;
  flex-direction: column;
}

.list-card {
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #ccc;
}

.list__text {
  height: 60px;
  text-align: justify;
  overflow: hidden;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.notes-message {
  text-align: center;
}

.input {
  width: 30%;
}

.item__btn {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 400px) {
  .card__title {
    font-size: 24px;
  }

  .item__text {
    height: 100px;
    text-align: justify;
    overflow: hidden;
  }

  .buttons {
    width: 100%;
    align-items: center;
  }

  .input {
    width: 100%;
  }

  .grid-container {
    margin-left: -30px;
  }

  .type {
    margin-top: -20px;
    margin-left: 30px;
  }
}
