@if (data$ | async; as data) {
  <div class="buttons">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'test_accounts.placeholder' | translate }}</mat-label>
      <input matInput type="text" [formControl]="searchControl" />
      @if (searchControl.value) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="searchControl.reset('')">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
    <button mat-icon-button (click)="switcherDisplayType()">
      <mat-icon>{{
        data.isDisplayType ? 'view_module' : 'format_list_bulleted'
      }}</mat-icon>
    </button>
  </div>

  @if (data.notes.length) {
    @if (data.isDisplayType) {
      <div class="list-container">
        @for (note of data.notes; track note) {
          <mat-card class="list-card">
            <mat-card-header>
              <mat-card-title class="card__title">{{
                note.title
              }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="list__text">{{ note.htmlContent }}</p>
            </mat-card-content>
            <mat-card-actions class="item__btn">
              <button mat-button class="card__btn" (click)="viewItem(note.id)">
                {{ 'notes.full_notes.view' | translate }}
              </button>
            </mat-card-actions>
          </mat-card>
        }
      </div>
    } @else {
      <div class="container grid-container">
        @for (note of data.notes; track note) {
          <mat-card class="card grid-item">
            <mat-card-header>
              <mat-card-title class="card__title">{{
                note.title
              }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="item__text">{{ note.htmlContent }}</p>
            </mat-card-content>
            <mat-card-actions class="item__btn">
              <button mat-button class="card__btn" (click)="viewItem(note.id)">
                {{ 'notes.full_notes.view' | translate }}
              </button>
            </mat-card-actions>
          </mat-card>
        }
      </div>
    }
  } @else {
    <div class="notes-message">
      {{ 'notes_message.text' | translate }}
    </div>
  }
}
