<h2 mat-dialog-title>Add new profile</h2>
<mat-dialog-content class="content">
  <form class="container" [formGroup]="formGroup">
    <mat-form-field appearance="outline">
      <mat-label>Name profile</mat-label>
      <input matInput formControlName="value" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">
    {{ 'test_accounts.cancel' | translate }}
  </button>
  <button
    mat-button
    [mat-dialog-close]="formGroup.value"
    [disabled]="formGroup.invalid"
    cdkFocusInitial>
    {{ 'test_accounts.save' | translate }}
  </button>
</mat-dialog-actions>
