.boards {
  width: auto;
  padding: 24px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
    border: 2px solid #555555;
  }

  .handle {
    margin-right: 16px;
    cursor: move;
  }
}
.board-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 32px;
  height: 350px;

  button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9999;
  }
}

.cdk-drag-placeholder {
  opacity: 0.2;
  //width: 350px;
  //border: 5px dashed gray;
  //margin: 0px 10px;
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

.boards.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}

.card {
  padding: 15px;
  margin-top: 35px;
}

@media (max-width: 768px) {
  .boards {
    padding: 16px;
    overflow-x: hidden;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    padding: 10px;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .boards {
    padding: 8px;
  }

  .card {
    padding: 8px;
    margin-top: 15px;
  }
}

@media (max-width: 400px) {
  .boards {
    padding: 2px;
    flex-direction: column;
    overflow-x: hidden;
  }

  .board-button {
    width: 100%;
    height: auto;
    padding: 16px;
  }

  .board-button button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }

  .card {
    padding: 10px;
    margin-top: 20px;
  }
}
