<section class="block">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" class="form">
    <div class="title">{{ 'login.sign_in' | translate }}</div>
    <button class="singIn">Sign in with Google</button>
    <input formControlName="username" placeholder="Username" type="text" />
    <input formControlName="password" placeholder="Password" type="password" />
    <div class="group">
      <div class="remember">
        <mat-checkbox checked class="checkbox" color="primary">
          Remember
        </mat-checkbox>
      </div>
      <div class="forgot">Forgot password?</div>
    </div>
    <button [disabled]="!loginForm.valid" class="login">Login</button>
  </form>
  <div class="signUp">
    <div>Don't have account?</div>
    <a [routerLink]="['/auth/sign-up']">Sign up</a>
  </div>
</section>
