<form [formGroup]="formGroup">
  <mat-form-field appearance="outline">
    <mat-label>{{ 'notes.full_notes.placeholder' | translate }}</mat-label>
    <input matInput formControlName="title" />
    @if (formGroup.get('title')?.hasError('required')) {
      <mat-error>{{ 'notes.full_notes.warning' | translate }}</mat-error>
    }
  </mat-form-field>
  <angular-editor
    formControlName="htmlContent"
    [config]="editorConfig"></angular-editor>
  @if (
    formGroup.get('htmlContent')?.hasError('required') &&
    formGroup.get('htmlContent')?.touched
  ) {
    <mat-error>{{ 'notes.full_notes.warning' | translate }}</mat-error>
  }
  <div class="controls">
    <button
      mat-raised-button
      color="primary"
      (click)="saveNotes()"
      [disabled]="formGroup.invalid">
      {{ 'notes.full_notes.save' | translate }}
    </button>
    <button mat-button color="primary" (click)="cancel()">
      {{ 'notes.full_notes.cancel' | translate }}
    </button>
  </div>
</form>
