.outer-card {
  margin: 10px;
  min-width: 300px;
  max-width: 300px;
  padding: 10px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
}

.board-header {
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.inner-card {
  margin: 5px 0;
  cursor: pointer;
}

.task {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

.tasks.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

.mat-card-header {
  justify-content: space-between;
}

.mat-card-title {
  margin-bottom: 15px;
}

.blue {
  padding: 5px 10px;
  margin-bottom: 10px;
  background: #71deff;
}
.green {
  padding: 5px 10px;
  margin-bottom: 10px;
  background: #36e9b6;
}
.yellow {
  padding: 5px 10px;
  margin-bottom: 10px;
  background: #ffcf44;
}
.purple {
  padding: 5px 10px;
  margin-bottom: 10px;
  background: #b15cff;
}
.red {
  padding: 5px 10px;
  margin-bottom: 10px;
  background: #e74a4a;
}

.gray {
  padding: 5px 10px;
  margin-bottom: 10px;
  background: gray;
  text-decoration: line-through;
}
